{% extends '::layout.html.twig' %}

{% block title %}
	Appunte - Home
{% endblock %}


{% block menu %}
	<ul id="menu">
        <li><a href="">Ingresar</a></li>
		<li><a href="">Registrarse</a></li>
    </ul>
{% endblock %}


{% block titulo %}
	<div class="header-logo">
		<h1>Apuntes Recientes</h1>
	</div>
{% endblock %}
						

{% block main %}
	<div class="block">
	{% if apuntes %}

		{% for apunte in apuntes | slice (0, 10) %}
			{% if apunte %}
		 		<a class="p2" href="">
			 		<b>Nombre:</b> {{apunte.Nombre}} <br>
			 		<b>Materia:</b> {{apunte.getMateria().getNombre()}} <br>
			 		<b>Fecha:</b> {{apunte.Fecha | date ('d-m-y')}} <br>
		 		</a>
				<br><br><br>
				<hr size="2"  />
				<br><br>			
			{% endif %}
		{% endfor %}

	{% else %}
		<h3> No hay apuntes recientes </h3>
	{% endif %}
	</div>
{% endblock %}