{% extends '::layout.html.twig' %}

{% block title %}
	Appunte - Home
{% endblock %}


{% block menu %}
	<ul id="menu">
        <li><a href="">Ingresar</a></li>
		<li><a href="">Registrarse</a></li>
    </ul>
{% endblock %}


{% block titulo %}
	<div class="header-logo">
		<h1>Apuntes Recientes</h1>
	</div>
{% endblock %}
						

{% block main %}

{% endblock %}